## list

In [2]:
l1=["mahdy",34,1.5]
print(l1)

['mahdy', 34, 1.5]

In [3]:
l1[0]

'mahdy'

In [4]:
l1[1]

34

In [5]:
l1[2]

1.5

In [6]:
l1[3]

IndexError: list index out of range

In [7]:
len(l1)

3

In [8]:
type(l1)

list

In [9]:
l2=["ali",20,["ehsan",15],1.8]
print(l2)

['ali', 20, ['ehsan', 15], 1.8]

In [10]:
l2[0]

'ali'

In [11]:
l2[2]

['ehsan', 15]

In [12]:
l2[2][1]

15

In [13]:
l1+l2

['mahdy', 34, 1.5, 'ali', 20, ['ehsan', 15], 1.8]

In [14]:
l3=l1+l2

In [15]:
l3

['mahdy', 34, 1.5, 'ali', 20, ['ehsan', 15], 1.8]

In [16]:
l3=["apple","orange","banana","kiwi","apple"]
print(l3)

['apple', 'orange', 'banana', 'kiwi', 'apple']

In [17]:
" ".join(l3)

'apple orange banana kiwi apple'

In [18]:
"@".join(l3)

'apple@orange@banana@kiwi@apple'

In [19]:
l3[0:2]

['apple', 'orange']

In [20]:
l3[-3:-1]

['banana', 'kiwi']

In [21]:
l3[0]="melon"
print(l3)

['melon', 'orange', 'banana', 'kiwi', 'apple']

In [22]:
l3.append("cucumber")

In [23]:
print(l3)

['melon', 'orange', 'banana', 'kiwi', 'apple', 'cucumber']

In [24]:
l3.remove("kiwi")

In [25]:
l3

['melon', 'orange', 'banana', 'apple', 'cucumber']

In [26]:
print(l3.count("apple"))

1

In [27]:
l3.clear()

In [28]:
l3

[]

## tuple

In [29]:
tup1=1,2,3
type(tup1)

tuple

In [30]:
tup2=(4,5,6)
type(tup2)

tuple

In [31]:
tup3=tup1+tup2

In [32]:
print(tup3)

(1, 2, 3, 4, 5, 6)

In [33]:
tup1[0]

1

In [34]:
tup1[5]

IndexError: tuple index out of range

In [35]:
tup1[0]=5

TypeError: 'tuple' object does not support item assignment

In [36]:
a=33
type(a)

int

In [37]:
a=33,
type(a)

tuple

In [38]:
len(tup1)

3

In [39]:
x,y,z=tup1
print(x)

1

In [40]:
print(y)

2

In [41]:
print(z)

3

## Dict

In [42]:
tel={"tehran":21,"esfahan":31,"qom":25}
print(tel)

{'tehran': 21, 'esfahan': 31, 'qom': 25}

In [43]:
type(tel)

dict

In [44]:
len(tel)

3

In [45]:
tel.keys()

dict_keys(['tehran', 'esfahan', 'qom'])

In [46]:
tel.values()

dict_values([21, 31, 25])

In [47]:
tel["tehran"]

21

In [48]:
tel["qom"]=26
print(tel)

{'tehran': 21, 'esfahan': 31, 'qom': 26}

In [49]:
del tel["esfahan"]
print(tel)

{'tehran': 21, 'qom': 26}

In [50]:
tel["tabriz"]

KeyError: 'tabriz'

In [54]:
"tabriz" in tel.keys()

False

In [55]:
#DefaultDict

## set

In [56]:
s1=set([1,1,2,3,4,5])
print(s1)

{1, 2, 3, 4, 5}

In [57]:
type(s1)

set

In [58]:
len(s1)

5

In [60]:
s2=set([4,5,1])
print(s2)

{1, 4, 5}

In [61]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [62]:
s1.intersection(s2)

{1, 4, 5}